@media only screen and (min-width: 0px) and (max-width: 1017px) {

    .big-head,
    .last-row,
    .l-r-box,
    .playableA,
    .r-b-overlay,
    .main-left,
    .m-r-topbar,
    .topbar,
    .m-r-top,
    .heading-1,
    .m-r-t-3-r-text,
    .hidd {
        display: none;
    }
    .r-1-b-text{
        max-height: 50px;
        overflow-y: auto;
    }

    .topbarXmob {
        display: flex;
        color: white;
        width: 100%;
        justify-content: space-between;
        padding: 20px;
        font-size: 20px;
        font-weight: bold;
    }

    .heading {
        font-size: 20px;
        margin-top: 10px;
    }

    .r-1-b-text {
        color: white;
        padding-left: 5px;
    }

    .m-r-main,
    .f-t-box {
        width: 100%;
    }

    .main-right {
        background-color: black;
        border-radius: 0px;

    }
    .row,
    .heading {
        padding-left: 1px;
        margin-left: 10px;
    }

    .main{
        margin: 0;
        padding: 0;
    }
    .r-1-box-1 {
        max-width: 168px;
        height: 230px;
        border-radius: 0px;
    }

    .r-2-box img {
        max-width: 152px;
        max-height: 152px;
    }

    .r-1-box img {
        height: 152px;
        width: 152px;
    }

    .footer-top {
        flex-direction: column;
    }

    .f-t-box {
        margin-left: 20px;
    }

    .f-t-box-5 {
        width: 30%;
    }

    .f-b-text {
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 0px;
    }

    .f-b-text div {
        margin: 5px 20px 0px 0px;
        width: max-content;
    }
    .footer-bottom{
        flex-direction: column;
    }
    .f-b-text-right{
        margin: 20px 0px;
    }

    a .r-1-box-1{
        width: 140px;
        max-width: 220px;
    }
    .m-r-top-3{
        flex-direction: column;
    }
    .m-r-t-3-left{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .m-r-t-3-left img{
        width: 40%;
        margin-top: 20px;
        height: 40%;
    }
    .m-r-top-2{
        height: 110px;
    }
    .m-r-t-3-r-text-big{
        font-size: 25px;
        letter-spacing: 0.5px;
        line-height: 20px;
    }
    .t-1-singer{
        width: max-content;
        font-size: 14px;
    }
    .m-r-t-3-r-text-abt-singer div{
        font-size: 14px;
    }
    .m-r-t-4-top .r-b-overlay{
        display: block;
    }
    .m-r-t-4-c-left{
        width: 100%;
    }
    .m-r-t-4-content{
        flex-direction: column;
        gap: 22px;
    }
    .bacl{
        display: block;
        position: absolute;
    }
    .main-right .tpb-c-circle{
        background-color: transparent;
        border-radius: 0px;
        padding: 10px;
    }
}
@media only screen and (min-width: 1017px) and (max-width: 1359px) {
    .tpb-center{
        margin: 0;
    }
}